# REST interface
flask>=1.0.2
gevent>=1.4.0
flask-cors>=3.0.0
pyyaml>=5.3.1

# Model-related
transformers[torch]>=2.7.0

# For testing
flake8
pytest

# For writing to Google
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Other
overrides>=2.8.0